.rating {
  position: relative;
  width: 135px;
  height: 25px;
  background-image: url('../rating/star/star-default.svg');
  background-size: 27px auto;
  background-repeat: repeat-x;
}

.rating:focus-within {
  outline: 2px solid blue;
}