.site-sections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 8px;
  padding-right: 8px;
  list-style: none;
}

.site-sections a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: #d12136;
  }
}