.star__input {
  position: absolute;
  height: 25px;
  margin: 0;
  top: 0;
  left: 0;
  background-size: 27px auto;
  background-repeat: repeat-x;
  appearance: none;
}

.star__input:focus {
  outline: none;
}

.star__input:checked,
.star__input:hover {
  background-image: url('./star-active.svg');
}

.star__input:hover ~ .star__input {
  background-image: url('./star-default.svg');
}

.star__input:nth-of-type(1) {
  width: 27px;
  z-index: 5;
}

.star__input:nth-of-type(2) {
  width: 54px;
  z-index: 4;
}

.star__input:nth-of-type(3) {
  width: 81px;
  z-index: 3;
}

.star__input:nth-of-type(4) {
  width: 108px;
  z-index: 2;
}

.star__input:nth-of-type(5) {
  width: 135px;
  z-index: 1;
}